table {
  width: 85%;
  font-size: large;
}

td {
  padding: 20px;
}

.mt-5 {
  margin: 2rem;
  padding: 50px;
}

.text-center {
  text-align: center; 
}

#showDataJSON {
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  margin: 0 auto; 
  width: 100%;
  padding: 50px;
  background-color: #ffffff; 
  border: 1px solid #dee2e6; 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}